<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://unpkg.com/vue@3"></script>
    <!-- JavaScript Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"
    ></script>
    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div id="app">
      <div class="container">
        <h1>{{ header }}</h1>
        <div class="row">
          <div class="input-group mb-3">
            <input
              type="text"
              class="form-control"
              placeholder="輸入文字"
              v-model="newTodo"
            />
            <button type="button" class="btn btn-primary" v-on:click="addTodo">
              新增
            </button>
          </div>
        </div>
        <div class="row">
          <div class="input-group mb-3" v-for="(item, index) in todo">
            <span class="input-group-text" id="basic-addon1">{{ index }}</span>
            <button
              type="button"
              class="btn btn-success"
              v-on:click="finishTodo(index)"
            >
              已完成
            </button>
            <input
              type="text"
              class="form-control "
              v-bind:class='{ "text-decoration-line-through": item.status }'
              v-bind:value="item.text"
              disabled
            />
            <button
              type="button"
              class="btn btn-danger"
              v-on:click="deleteTodo(index)"
            >
              刪除
            </button>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="index.js"></script>
</html>
